@use "./variables";
@use "./fonts";

html {
  background-color: var(--background);
  font-family: "HelmetNeue", sans-serif;
}

// Fix underline styling to prevent ligature disruption
a {
  text-decoration-skip-ink: none;
  text-underline-offset: 0.15em;
}
