---

---

<div
  class="mb-[-150px] self-end grid-in-text text-lg [&_h2]:text-2xl [&_h2]:font-bold [&_h2]:tracking-wide text-left [&_p]:pl-8 [&_a]:underline [&_a]:font-bold whitespace-pre-line flex justify-start"
>
  <div class="max-w-screen-md self-start">
    <slot />
  </div>
</div>
