---
const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";
---

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="TODO Write Description" />
  <!-- @ts-ignore -->
  <meta
    name="viewport"
    width='device-width,initial-scale=1,maximum-scale=1,user-scalable=no,shrink-to-fit=no""'
  />

  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <ViewTransitions />
  <style lang="scss">
    @use "webcoreui/styles" as *;
  </style>
</head>
