---

---

<div
  class="relative grid-in-gif lg:-mb-[75px] w-full self-end overflow-hidden max-w-full"
>
  <video
    class="mask-top w-full h-full object-cover max-w-full"
    src={"/slow-motion-loop-half.mp4"}
    autoplay
    muted
    loop></video>
</div>

<style>
  .mask-top {
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 30%);
    mask-image: linear-gradient(to bottom, transparent, black 30%);
  }
</style>
