---

---

<div
  class="grid-in-text text-lg lg:ml-[50px] pr-8 pl-16 [&_h2]:text-2xl [&_h2]:font-bold [&_h2]:tracking-wide text-left [&_p]:pl-8 [&_a]:font-extrabold [&_a]:pb-16 [&_a]:underline-offset-2 [&_a]:hover:underline transition-all duration-300 whitespace-pre-line flex justify-end"
>
  <div class="max-w-screen-md self-end">
    <slot />
  </div>
</div>
