---

---

<div
  class="grid-in-text p-12 lg:p-0 lg:text-lg lg:ml-[20px] lg:pr-4 text-[2rem] sm:text-[2.125rem] [&_h2]:text-[3.5rem] [&_h2]:sm:text-[3.75rem] [&_h2]:lg:text-2xl [&_h2]:font-bold [&_h2]:tracking-wide [&_h2]:leading-tight [&_h2]:mb-5 [&_h2]:mt-8 [&_h2:first-child]:mt-0 text-left [&_p]:pl-6 [&_p]:sm:pl-8 [&_p]:leading-normal [&_p]:mb-5 [&_strong]:text-[1.5rem] [&_strong]:sm:text-[1.625rem] [&_strong]:block [&_strong]:mb-2 [&_strong]:mt-3 transition-all duration-300 justify-end [&_ul]:list-[circle] [&_ul]:pl-10 [&_ul]:sm:pl-12 [&_ul]:leading-normal [&_ul]:mb-5 [&_li]:mb-1 [&_small]:text-xl [&_small]:lg:text-sm [&_small]:mt-4 [&_small]:block landing-text"
>
  <div class="self-start">
    <slot />
  </div>
</div>