---
interface Props {
  frontmatter: {
    title: string;
    lowerImage: string;
  };
}

import { Image } from "astro:assets";
import flyer from "../assets/BAWImage.jpg";

import AboutText from "../components/AboutText.astro";
import Helmet from "../components/Helmet.astro";
import Nav from "../components/Nav.astro";
import Line from "../components/Line.astro"; 
import "../styles/global.scss";

const { frontmatter } = Astro.props;

const { title } = frontmatter;
---

<!doctype html>
<html lang="en" class="overscroll-none">
  <Helmet title={title} />
  <body
    class="w-screen h-screen gap-8 mb-[100px] grid grid-areas-mobile-about grid-cols-mobile-about grid-rows-mobile-about lg:grid-rows-desktop-about lg:grid-areas-desktop-about lg:grid-cols-desktop-about"
  >
    <Nav />
    <Line />
    <Line />
    <AboutText>
    <Image
      class="self-center justify-self-end lg:justify-self-start lg:self-start"
      src={flyer}
      alt="text element that says a path back to somatic solidarity emerging from a sphere surrounded by darkness"
    />
      <slot />
    </AboutText>
  </body>
</html>

