---
interface Props {
  frontmatter: {
    title: string;
    lowerImage: string;
  };
}

import { Masonry } from "webcoreui/astro";
import Helmet from "../components/Helmet.astro";
import Nav from "../components/Nav.astro";
import "../styles/global.scss";
import { getCollection } from "astro:content";
import WorkshopImage from "../components/WorkshopImage.astro";

const { frontmatter } = Astro.props;

const { title } = frontmatter;

const workshops = await getCollection("workshops");
const workshopsWithPages = ["being_another_world"];

const allImages = workshops.map((ws) => {
  const imageSrc = "image" in ws.data ? ws.data.image : ws.data.flyer;
  const imageAlt = ("image" in ws.data ? ws.data.imageAlt : "flyer" in ws.data ? ws.data.flyerAlt : undefined) || ws.data.title;
  const hasLink = workshopsWithPages.includes(ws.slug);
  const link = hasLink ? `/workshops/${ws.slug}` : null;
  
  return {
    component: WorkshopImage,
    props: {
      src: imageSrc,
      alt: imageAlt,
      link: link,
    },
  };
});
---

<!doctype html>
<html lang="en" class="overscroll-none">
  <Helmet title={title} />
  <body
    class="w-screen gap-8 grid grid-areas-mobile-workshops grid-cols-mobile-workshops grid-rows-mobile-workshops lg:grid-areas-desktop-workshops lg:grid-cols-desktop-workshops"
  >
    <Nav />
    <div class="py-8 px-16">
      <Masonry items={allImages} columns={2} gap="12px" />
    </div>
  </body>
</html>
